# OS files.
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.thumbsdb

# IDEs.
*.code-workspace
.idea
.vscode

# Dependencies.
node_modules

# Configuration.
.env

# Build files.
.next
